name: PyTest Automation Tests with Bdd Structure and Allure Framework (UI)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    continue-on-error: true
    strategy:
      matrix:
        python-version: [3.9]
        selenium-version: [4.9.1]
        browser: [headlesschrome]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }} with PyTest ${{ matrix.rf-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: latest
        id: setup-chrome

      - run: |
          echo Installed chromium version: ${{ steps.setup-chrome.outputs.chrome-version }}
          ${{ steps.setup-chrome.outputs.chrome-path }} --version

      - name: Install Dependencies
        run: |
          python3 -m pip install --upgrade pip==23.3.1
          pip install -r requirements.txt

      - name: Run Test
        if: always()
        run: pytest
        continue-on-error: true

      - name: Upload Test Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: reports
          path: ./report

      
